<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Email Verification</title>
  </head>
  <body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333">
    <h2>WalletIQ - Email Verification</h2>

    <p>Hello <span th:text="${name}">User</span>,</p>
    <p>Your verification code is:</p>
    <h1 th:text="${otp}" style="letter-spacing: 5px">000000</h1>
    <p>
      This code will expire in
      <strong th:text="${expiryMinutes}">10</strong>
      minutes.
    </p>

    <p>If you did not request this email, you can safely ignore it.</p>

    <hr />

    <p style="font-size: 12px; color: #777">© 2026 WalletIQ</p>
  </body>
</html>
